# Spark Dataframe Basic

In [38]:
import findspark

In [39]:
findspark.init('/home/vidush/spark-3.0.0-preview2-bin-hadoop2.7')

In [40]:
import pyspark

In [41]:
from pyspark.sql import SparkSession

In [42]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [43]:
#Reading the dataset
df = spark.read.json('people.json')

In [44]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [45]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [46]:
df.columns

['age', 'name']

In [47]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [48]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [49]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [50]:
data_schema = [StructField('age', IntegerType(),True),
               StructField('name', StringType(),True)]

In [51]:
final_struc = StructType(fields = data_schema)

In [52]:
df = spark.read.json('people.json', schema=final_struc)

In [53]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [54]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [55]:
df['age']

Column<b'age'>

In [56]:
type(df['age'])

pyspark.sql.column.Column

In [57]:
df.select('age')

DataFrame[age: int]

In [58]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [59]:
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [60]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [61]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [64]:
df.createOrReplaceGlobalTempView('people')